<div class="card" #scrollMe style="height: 200px; max-height: 200px; overflow-y: hidden; font-size: 80%" (scroll)="onScroll($event.target)">
  <div *ngFor="let chatMessage of messages">
    <span style="font-size: 80%; color:dimgrey">[{{chatMessage.time | date: 'mediumTime'}}]</span>&nbsp;&nbsp;
    <span style="color: royalblue">{{chatMessage.username}}:</span> {{chatMessage.message}}
  </div>
</div>
<div class="form-group my-2">
  <input class="form-control form-control-sm" [(ngModel)]="message" (keyup.enter)="sendMessage($event.target.value)">
</div>
