<div class="jumbotron">
  <h1>Let's get runnin'</h1>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="m-4">
        <h3>Filters</h3>
        <div class="row">
          <div class="col-md">
            <strong>Character</strong>
            <div class="form-group">
              <mat-radio-group class="add-radio-group" [(ngModel)]="character" (ngModelChange)="filterSessions()">
                <mat-radio-button class="add-radio-button" *ngFor="let myCharacter of characters" [value]="myCharacter">
                  {{myCharacter}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md">
            <mat-checkbox class="example-margin" [(ngModel)]="daily" (ngModelChange)="setupDaily()">Daily?</mat-checkbox>
          </div>
          <div class="col-md">
            <div>
              <strong>Ascension</strong>
            </div>
            <mat-form-field>
              <mat-select placeholder="" [(ngModel)]="level" name="level" (ngModelChange)="filterSessions()" [disabled]="daily">
                <mat-option *ngFor="let myLevel of levels" [value]="myLevel">
                  {{myLevel}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-md">
            <div>
              <strong>Seed</strong>
            </div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="" [(ngModel)]="seed" (ngModelChange)="filterSessions()" [disabled]="daily">
            </mat-form-field>
          </div>
          <div class="col-md">
            <mat-checkbox class="example-margin" [(ngModel)]="showArchived" (ngModelChange)="filterSessions()">Show Archived</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-secondary float-right mt-4" (click)="clearFilters()">Clear Filters</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="m-4">
        <div class="row">
          <div class="col">
            <h3>Join/Start a run</h3>
          </div>
          <div class="col">
            <button class="btn btn-lg btn-primary float-right" (click)="createRun()">Create New Run</button>
          </div>
        </div>
        <div *ngIf="shownSessions.length > 0">
          <div class="card my-3" *ngFor="let mySession of shownSessions">
            <div *ngIf="mySession.scores.length > 1">Current Leader:
              <strong style="color: blue">{{mySession.scores[0].username}}</strong>
            </div>
            <table class="table table-sm">
              <tr>
                <th>Character</th>
                <th>Ascension</th>
                <th>Seed</th>
                <th>
                  <button class="btn btn-danger btn-sm float-right" (click)="archiveSession(mySession)">Archive this run</button>
                </th>
              </tr>
              <tr>
                <td>{{mySession.character}}</td>
                <td>{{mySession.level}}</td>
                <td>
                  <button class="btn btn-sm" ngxClipboard [cbContent]="mySession.seed" (cbOnSuccess)="cbSuccess(mySession.seed)" [class.btn-light]="!cbSuccesses[mySession.seed]"
                    [class.btn-success]="cbSuccesses[mySession.seed]">
                    <i class="fa fa-clipboard mx-2"></i>
                    {{mySession.seed}}
                  </button>
                </td>
                <td>
                  <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" placeholder="Score" [(ngModel)]="sessionScores[mySession._id]" (keydown.enter)="submitScore(mySession); $event.target.value = ''">
                    <div class="input-group-append">
                      <i class="fa fa-plus fa-lg input-group-text" (click)="submitScore(mySession)" style="color: green"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <table *ngIf="mySession.scores" class="table table-sm" style="font-size:80%">
              <tr>
                <th colspan="2">Scores</th>
              </tr>
              <tr *ngFor="let score of mySession.scores">
                <td>{{score.username}}</td>
                <td>{{score.score}}</td>
              </tr>
            </table>
            <app-notes [session]="mySession"></app-notes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-chat class="float-right"></app-chat>
  </div>
</div>
<div *ngIf="showLoading" style="position: fixed; min-height:95%; width:95%; top:2.5%; left: 2.5%; background: lightcyan; z-index: 9999; text-align: center; margin: auto; box-shadow: 5px 5px 5px grey">
  <h1 style="margin-top: 10%">Loading</h1>
  <i class="fa fa-spinner fa-pulse fa-4x"></i>
</div>
